<div class="main-grid">
  <% featured_img = featured_article.image %>
  <div class="featured" style= "background: url(<%= featured_img %>) center no-repeat" >Row</div>
  <div class="category">1</div>
  <div class="category">2</div>
  <div class="category">3</div>
  <div class="category">4</div>
  <div class="category">5</div>
  

</div>