@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700;900&family=Lato:wght@400;700&family=Red+Rose:wght@400;700&display=swap');

$primary: #f86309;
$secondary: #4e443e;

a {
  color: rgba(0, 0, 0, 0.589);

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.page-container {
  min-height: 100vh;
  position: relative;
  background-color: $secondary;
}

.bg-second { background-color: $secondary; }

.bg-prime { background-color: $primary; }

.text-orange { color: $primary; }

.font-red-rose { font-family: 'Red Rose', cursive; }

.font-lato { font-family: 'Lato', sans-serif; }

.font-chivo { font-family: 'Chivo', sans-serif; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-middle-link {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0.5em;
  transition: color 160ms;

  &:hover {
    text-decoration: none;
    color: $primary;
  }
}

.user-name {
  font-size: 1.2rem;
  margin-right: 1em;
}

main {
  padding-bottom: 3.3em;
}

.main-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 55vh 35vh;
}

.featured {
  position: relative;
  grid-column: span 5;
}

.featured-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.featured-title {
  position: absolute;
  bottom: 2em;
  left: 2em;
  color: $primary;
  font-weight: bold;
  font-size: 1.2rem;
}

.category {
  position: relative;
}

.category-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8939950980392157) 0%, rgba(255, 255, 255, 0.011642156862745057) 100%);
  transition: opacity 0.5s;

  &:hover {
    opacity: 0;
  }
}

.category-name {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 3;
  font-weight: bold;
  border-bottom: 2px solid yellow;
  line-height: 1.3;
}

.category-last-article {
  font-weight: bold;
  position: absolute;
  bottom: 1em;
  left: 1em;
  z-index: 3;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: rgb(255, 251, 238);
}

.cat-article-cont {
  padding: 1em;
  min-height: 285px;
}

.cat-name {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 2px solid $primary;
}

.cat-article-name {
  font-size: 1.15rem;
  font-weight: bold;
}

.user-show-page {
  min-height: 100vh;
}

.user-art-cont {
  min-height: 180px;
}

.user-no-recipies {
  font-size: 1.2rem;
  margin: 2em 0;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer {
  background-color: $secondary;
}

.font-small {
  font-size: 0.8rem;
}
