@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700;900&family=Lato:wght@400;700&family=Red+Rose:wght@400;700&display=swap');

$primary: #f86309;
$secondary: #4e443e;

a {
  color: rgba(0, 0, 0, 0.589);

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.page-container {
  min-height: 100vh;
  position: relative;
  background-color: $secondary;
}

.bg-second { background-color: $secondary; }

.bg-prime { background-color: $primary; }

.text-orange { color: $primary; }

.font-red-rose { font-family: 'Red Rose', cursive; }

.font-lato { font-family: 'Lato', sans-serif; }

.font-chivo { font-family: 'Chivo', sans-serif; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-middle-link {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0.5em;
  transition: color 160ms;

  &:hover {
    text-decoration: none;
    color: $primary;
  }
}

.user-name {
  font-size: 1.2rem;
  margin-right: 1em;
}

main {
  padding-bottom: 3.3em;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer {
  background-color: $secondary;
}

.font-small {
  font-size: 0.8rem;
}
