.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: rgb(255, 251, 238);
}

.cat-article-cont {
  padding: 1em;
  min-height: 285px;
}

.cat-name {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 2px solid $primary;
}

.cat-article-name {
  font-size: 1.15rem;
  font-weight: bold;
}

.user-show-page {
  min-height: 100vh;
}

.user-art-cont {
  min-height: 180px;
}

.user-no-recipies {
  font-size: 1.2rem;
  margin: 2em 0;
}
