<div class='d-flex align-items-center font-lato'>
    <a href=<%= new_article_path %>>
      <button class="btn btn-success btn-sm mr-5">Add New Recipe</button>
    </a>
    <span class="user-name"><%= User.find(session[:current_user]).name %></span>
    <%= link_to "SIGN OUT", session_path(session[:current_user]), :method => :delete, class: 'nav-link' %>
</div>