<div class='d-flex align-items-center font-lato'>
    <a href=<%= new_article_path %>>
      <button class="btn btn-success btn-sm mr-5">Add New Recipe</button>
    </a>
    <%= link_to User.find(session[:current_user]).name, user_path(session[:current_user]), class: 'user-name' %>
    <%= link_to "SIGN OUT", session_path(session[:current_user]), :method => :delete, class: 'nav-link' %>
</div>